<h2>CKD Project Specifications:</h2>

<div>
    <h3></h3>
    <p><strong>Sloution name:</strong> CKD</p>
    <p><strong>Sloution file name:</strong> CKD.sln</p>
    <p><strong>Title:</strong> CKD.Web04</p>
    <p><strong>Type of Project:</strong> Web Application</p>
    <p><strong>Create Date:</strong> Apr 23, 2025</p>
    <p><strong>Framework:</strong> ASP.NET Core</p>
    <p><strong>Platform:</strong> .NET</p>
    <p><strong>Platform Version:</strong> .NET 9.0</p>
    <p><strong>Programming model:</strong> MVC</p>
    <p><strong>Language:</strong> C#</p>
    <p><strong>Software Architecture:</strong> Three Layer </p>
    <p><strong>Design Pattern:</strong> - </p>
    <p><strong>ORM:</strong> Entity Framework Core</p>
    <p><strong>Database create technique:</strong> Code First</p>
    <p><strong>Database name:</strong> DB_CKD04</p>
    <p><strong>Description:</strong> This project is a fork of the main project for GitHub with manually and experimental data.</p>
</div>

<a asp-controller="Home" asp-action="Index" class="">Back to Home</a>