@model CKD.Web.ViewModels.PartViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid border shadow">
    <div class="row">
        <div class="col-4">
            <h2 class="">Create new Part</h2>
        </div>
        <div class="col-6 text-info">
            <h4>@TempData["Message"]</h4>
        </div>
        <div class="col-2">
        </div>
    </div>

    <hr />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="Id" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="Version" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="FarsiName" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="FarsiName" class="form-control" />
                <span asp-validation-for="FarsiName" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="EnglishName" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="IsSet" class="form-check-label"></label>
            </div>
            <div class="col-6 form-check">
                <input asp-for="IsSet" hidden value="false" id="flexCheckDefault" />
                <input asp-for="IsSet" type="checkbox" class="form-check-input" value="true" id="flexCheckDefault" />
                <label asp-for="IsSet" class="form-check-label">Part is a Set?</label>
                <span asp-validation-for="IsSet" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"></div>
            <div class="col-3">
                <a asp-controller="Part" asp-action="Index" class="btn btn-outline-secondary form-control">
                    <i class="bi bi-backspace"></i>
                    Back
                </a>
            </div>
            <div class="col-3">
                <button asp-controller="Part" asp-action="Create" type="submit" class="btn btn-outline-primary form-control">
                    <i class="bi bi-plus-circle"></i>
                    Create
                </button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
