@using CKD.Web.ViewModels
@model PartViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container border shadow">
    <div class="row">
        <div class="col-4">
            <h1 class="">Edit exist Part</h1>
        </div>
        <div class="col-6 text-info">
            <h4>@TempData["message"]</h4>
        </div>
        <div class="col-2">
        </div>
    </div>

    <hr />

    <form method="post">
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="Id" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Id" readonly class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="Version" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Version" readonly class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="FarsiName"></label>
            </div>
            <div class="col-6 ">
                <input asp-for="FarsiName" class="form-control" />
                <span asp-validation-for="FarsiName" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="EnglishName" class=""></label>
            </div>
            <div class="col-6 ">
                <input asp-for="EnglishName" class="form-control" />
                <span asp-validation-for="EnglishName" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group my-4">
            <div class="col-2">
                <label asp-for="IsSet"></label>
            </div>
            <div class="col-6 form-group form-check">
                <input asp-for="IsSet" hidden value="false" id="flexCheckDefault" />
                <input asp-for="IsSet" type="checkbox" class="form-check-input" value="true" id="flexCheckDefault" />
                <label asp-for="IsSet" class="form-check-label">Part is Set?</label>
                <span asp-validation-for="IsSet" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-2"></div>
            <div class="col-3">
                <a asp-controller="Part" asp-action="Index" class="btn btn-outline-secondary form-control">
                    <i class="bi bi-backspace"></i>
                    Back
                </a>
            </div>
            <div class="col-3">
                <button asp-controller="Part" asp-action="Edit" type="submit" class="btn btn-outline-success form-control">
                    <i class="bi bi-pencil"></i>
                    Edit
                </button>
            </div>
        </div>
    </form>
</div>